h1, h2 {
    text-align: center;
}

.row {
    margin: auto 0px;
}

.preis {
    font-size: 25px;
 
}

#buch1, #buch2, #buch3, #buch4, #buch5, #buch6 {
  height: 400px;
  width: 400px;
}

.card {
    height: 700px;
}