h1, h2 {
    text-align: center;
}

.row {
    margin: auto 0px;
}

.preis {
    font-size: 25px;
 
}

#img1, #img2, #img3, #img4, #img5, #img6 {
    height: 400px;
    width: 400px;
}

.card {
    height: 700px;
} 