.col-md-4 {
    margin-bottom: 10px;
}

.card {
    height: 470px;
}

.col-md-4 .card .btn {
    position: absolute;
    bottom: 10px;
}

.container img {
    height: 230px;
}

table {
    width: 80%;
}

.bildColone {
    width: 20%;
    padding-bottom: 10px;
    padding-left: 10px;
}

.preisColone {
    width: 7%;
    padding-left: 15px;
}

.nameColone {
    width: 10%;
}

#bildueberschrift {
    padding-left: 70px;
}

.kopfliste {
    font-size: 25px;
}

.btnColone {
    padding-left: 20px;
}