h1{
    padding-top: 30px;
    text-align: center;
    
}
#head{
    margin-left: 280px;
    padding-top: 50px;
}

.image{
    width: 400px;
    height: 650px;
}




.daten{
    line-height: 55px;
    word-spacing: 80px;
}
.info{
    line-height: 0px;
    word-spacing: 15px;
}
.date{
    text-align: right;
    line-height: 80px;
}

.card{
    height: 650px;
    width: 400px;
}
