h1{
    padding-top: 30px;
    text-align: center;
    
}
#head{
    margin-left: 280px;
    padding-top: 50px;
}
.fotos{
    
    display: flex;
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: auto;
    margin: auto;

   
}


.img {
    display:flex;
    height: 400px;
    animation-duration: 10s;
    animation-name: myImages;

   
    
    
  

}


.daten{
    line-height: 55px;
    word-spacing: 80px;
}
.info{
    line-height: 0px;
    word-spacing: 15px;
}
.date{
    text-align: right;
    line-height: 80px;
}

.card{
    height: 650px;
    width: 400px;
}
@keyframes myImages {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-530px);
    }
    40%{

        transform: translateX(-1060px);
    }
    60%{
        transform: translateX(-1590px);
    }
    80%{
        transform: translateX(-2120px);
    }
    100%{
        transform: translateX(0px);
    }

    
}