*{
   
    padding-top: 15px;
}
.daten{
    text-align: center;
    padding-top: 50px;
    word-spacing: 150px;
}
.info{
    text-align: center;
    word-spacing: 150px;
}
.carousel-inner{

    margin: auto;
    width: 1000px;
}
.card-body{
    
    margin: auto;
    width: 1000px;
    display: flex;
}
.card-text{
    margin-left:auto;
    padding-top: 15px;;
}
tr{
    border-top: 2px solid gray ;
}
