<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <title>WG-ZImmmer</title>
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0,0" />
    <link rel="stylesheet" href="wg1.css">
</head>
<body>
    <div class="wrapper">
        <div class="multi_color_border"></div>
        <div class="top_nav">
            <div class="left">
                <img src="../img/logo.png" alt="Logo" width="65" height="60" class="d-inline-block align-text-top">
                <div class="logo">
                    <p><span>Studi</span>Bay</p>
                </div>

            </div>
            <div class="right">
                <ul>
                    <li><a href="../../login/loginseite.html">LogIn</a></li>
                    <li><a href="../../registrieren/signup.html">SignUp</a></li>
                    <li><a href="../../warenkorb/warenkorbseite.html" class="material-symbols-rounded">shopping_cart</a></li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html">STARTSEITE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    STUDY
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../../study/onlinekurs.html">Online-Kurse</a></li>
                                    
                                    <li><a class="dropdown-item" href="../../study/skripte.html">Skripte</a></li>
                                    <li><a class="dropdown-item" href="../../study/forum.html">Forum</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        VERKAUF
                                    </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../../verkauf/buecher.html">Bücher</a></li>
                                    <li><a class="dropdown-item" href="../../verkauf/moebel.html">Möbel</a></li>
                                    <li><a class="dropdown-item" href="../../verkauf/elektronik.html">Elektronik</a></li>
                                    <li><a class="dropdown-item" href="../../verkauf/sport.html">Sport</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        IMMOBILIEN
                                    </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../wg.html">WG</a></li>
                                    <li><a class="dropdown-item" href="../wohnung.html">Wohnungen</a></li>
                                    <li><a class="dropdown-item" href="../appartment.html">Appartment</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        VERANSTALTUNGEN
                                    </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../veranstaltung/Party/PartyNeu.html">Party</a></li>
                                    <li><a class="dropdown-item" href="../veranstaltung/Konzerte/konzert.html">Konzerte</a></li>
                                    <li><a class="dropdown-item" href="../veranstaltung/Sport/Sport.html">Sport & Freizeit</a></li>
                                    <li><a class="dropdown-item" href="../veranstaltung/Turniere/turnier1.html">Turniere</a></li>
                                </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div >
        <h3>Modernes WG/Zimmer zentral Ebingen<br>7er WG | Albstadt Ebingen | Kirchengraben 10</h3>
        <div id="demo" class="carousel slide" data-bs-ride="carousel" style="margin-top: 25px; width: 1500px; height: 700px;">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            </div>
    
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/WGs/wg2_a.jpg" alt="image1" class="d-block" style="width:100%; height: 700px;">
                </div>
                <div class="carousel-item">
                    <img src="../img/WGs/wg2_b.jpg" alt="image2" class="d-block" style="width:100%; height: 700px;">
                </div>
                <div class="carousel-item">
                    <img src="../img/WGs/wg2_c.jpg" alt="image3" class="d-block" style="width:100%;height: 700px; ">
                </div>
                <div class="carousel-item">
                    <img src="../img/WGs/wg2_d.jpg" alt="image4" class="d-block" style="width:100%;height: 700px; ">
                </div>
                <div class="carousel-item">
                    <img src="../img/WGs/wg2_e.jpg" alt="image5" class="d-block" style="width:100%; height: 700px;">
                </div>
            </div>
    
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        

            
        </div>
            <p class="daten"> 450€ 15m² </p>
               <p class="info">Gesamtmiete Zimmergröße</p>
            
        <div class="card-info">
            <div class="card-body">
                <div class="card-text">
                    <h2>Kosten</h2>
                    
                        <table>
                            <tr>
                                <td>Miete:</td>
                                <td>350€</td>
                            </tr>
                            <tr>
                                <td>Nebenkosten:</td>
                                <td>100€</td>
                            </tr>
                            <tr>
                                <td>Sonstige Kosten:</td>
                                <td>n.a</td>
                            </tr>
                            <tr>
                                <td>SCHUFA-Auskunft:</td>
                                <td><a href="https://www.wg-gesucht.de/bonitaetscheck.html?utm_campaign=schufa&utm_source=offer_detail_costs">Online anforden</a></td>
                            </tr>
                        </table>
                    

                </div>
                <div class="card-text">
                    <h2>Adresse</h2>
                    <p>Kirchengraben 10<br>72458 Albstadt-Ebingen</p>
                </div>
                <div class="card-text">
                    <h2>Verfügbarkeit</h2>
                    <p>frei ab: 01.09.2023</p>
                </div>
                
            </div>
            <div class="card-body">
                <div class="card-text">
                    <h2>WG-DETAILS</h2>
                    <P>
                        DIE WG  <br>
                        15m² Zimmer in 7er WG <br>
                        Wohnungsgröße: 720m² <br>
                        7er WG ( 2 Frauen und 3Männer ) <br>
                        Bewohneralter: 18 bis 30 Jahre <br>
                        Rauchen auf dem Balkon erlaubt <br>
                        Studenten-WG <br>
                        Sprache/n: Deutsch/English
                    </P>
                    
                </div>
                
                <div class="card-text">
                    
                    <p>
                        GESUCHT WIRD <br>
                        Geschlecht egal zwischen 18 und 30 Jahren
                    </p>
                </div>
                
            </div>
            <div class="card-body">
                <div class="card-text">
                    <p>
                        <strong>Zimmer</strong>
                        <br>Das Zimmer ist im zweiten Stock des Gebäudes. Es ist in etwa 15m² groß und besitzt mehrere Steckdosen und einen LAN-Anschluss. Es ist schon ein kleiner Schreibtisch mit Stuhl und das Bett (140x200) vorhanden.
                        <br>Die WG erstreckt sich über 3 Stockwerke mit insgesamt 2 Bädern, einem Gäste WC, der Küche mit angehängtem Esszimmer, einem Wohnzimmer und dem Balkon.
                        <br>Im untersten Stock befindet sich noch eine Abstellkammer für Fahrräder etc.
                    </p>
                    <p>
                        <strong>Lage</strong>
                        <br>Die Lage der WG ist mitten im Herzen von Albstadt Ebingen. Die Innenstadt ist in einer Minute erreichbar, die Hochschule in 2-3.
                        <br>Der Busbahnhof ist ebenfalls in unter einer Minute zu erreichen, der Bahnhof in 5.
                        <br>Einzig die Parksituation ist nicht so gut, da hier nur auf einem etwa 800m entfernten Parkplatzkostenlos geparkt werden kann, außer es ist ein Dauerparkticket für die Tiefgarage vorhanden.
                        <br>WG-Leben
                        <br>Wer sind wir:
                        <br>Wir sind Nora (23), Rebecca (21), Simon (21) und Domenik (27), alle Studenten an der HS Albsig in den Fächern Textil- und Bekleidungstechnologie bzw. IT-Security.
                    </p>
                    <p>
                        <strong>WG-Leben</strong>
                        <br>Wer sind wir:
                        <br>Wir sind Nora (23), Rebecca (21), Simon (21) und Domenik (27), alle Studenten an der HS Albsig in den Fächern Textil- und Bekleidungstechnologie bzw. IT-Security.
                    </p>
                    <p>
                        <strong>Wir suchen:</strong>
                        <br>Einen neuen Mitbewohner/in zwischen 18 und mitte 30. Wir wünschen uns jemanden, der gesellig ist und Lust auf ein WG-Leben hat.
                        <br>In unserer WG ist für fast alles gesorgt, die Küche ist voll ausgestattet und auch für Putzutensilien ist gesorgt (wir teilen uns natürlich die Arbeit :))
                        <br>Wir freuen uns auf gemeinsame WG-Abende im Wohnzimmer oder auf dem Balkon.
                    </p>
                        Wenn du gerne bei uns einziehen möchtest schreib uns doch kurz eine Mail und erzähl ein bisschen von dir:)
                        <br>Wir freuen uns!
                    </p>
                </div>
                
            </div>
            <div class="card-body" >
                <a href="../formular.html" class="btn btn-primary" ><img src="../img/icon.png " style="width: 50px; height: 50px;"> Anbieter Kontaktieren</a>

            </div>
        </div>
        
    </div>
    <footer class="bg-dark text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Über Uns</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-4">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="#">Über Uns</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail">E-Mail-Adresse</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="E-Mail-Adresse eingeben">
                        <button class="btn btn-primary" type="button">Abonnieren</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2023 StudiBay. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>